doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="/css/style.css")
    body 
        .form-container 
            h1 Welcome back!
            p log in to access your account.
            .row 
                input(type="text" required="")
                label Email or Username
            .row 
                input(type="password" required="")
                label Password 
            .row 
                button(type="submit") Login Now
            p Not a Member ? 
                a(href="/register") Signup Here
                br 
                a(href="#") Forget Password ?